# Week 5 - Data cleaning, formatting, standardizing, and investigation 

**Outline:**

* First look at the data
    * Investigate data in text editor
    * Read the files in to a list variable
* Devising a strategy
* Kung-fu Pandas
* Feature Engineering
* Normalizing and choosing columns

Heart disease data set: https://archive.ics.uci.edu/ml/datasets/Heart+Disease 



**NOTE: The Cleveland data file in the original data set is corrupt. Even though I included it, I'm going to ignore it.**

## First look at the data

The original dataset has a really funky format. It is space separated and each record is several rows. Not a comma in sight, and what's with all the -9s?

```
1254 0 40 1 1 0 0
-9 2 140 0 289 -9 -9 -9
0 -9 -9 0 12 16 84 0
0 0 0 0 150 18 -9 7
172 86 200 110 140 86 0 0
0 -9 26 20 -9 -9 -9 -9
-9 -9 -9 -9 -9 -9 -9 12
20 84 0 -9 -9 -9 -9 -9
-9 -9 -9 -9 -9 1 1 1
1 1 -9. -9. name
1255 0 49 0 1 0 0
-9 3 160 1 180 -9 -9 -9
0 -9 -9 0 11 16 84 0
0 0 0 0 -9 10 9 7
156 100 220 106 160 90 0 0
1 2 14 13 -9 -9 -9 -9
-9 -9 -9 -9 -9 -9 -9 11
20 84 1 -9 -9 2 -9 -9
-9 -9 -9 -9 -9 1 1 1
1 1 -9. -9. name
```

Hmmmm... it already seems like I can see some patterns. For example, I see what looks like two consecutive numbers (1254 & 1255), and just before the second number I see "name". Maybe the number is a record number? and "name" is the last field in the record?

Let's read the good files in to a list and check it out.

In [1]:
lines_list = []
files = ['C:/Users/eltac/Downloads/data_5/data_5/hungarian.data',
        'C:/Users/eltac/Downloads/data_5/data_5/long-beach-va.data',
        'C:/Users/eltac/Downloads/data_5/data_5/switzerland.data']
for file in files:
    with open(file) as infile:
        for line in infile:
            if len(line) > 1:    # Blank lines at the end of files.
                lines_list.append(line.strip()) # strip() leaves empty blank lines -- skip these

Let's look at some of the lines:

In [2]:
lines_list[:20]

['1254 0 40 1 1 0 0',
 '-9 2 140 0 289 -9 -9 -9',
 '0 -9 -9 0 12 16 84 0',
 '0 0 0 0 150 18 -9 7',
 '172 86 200 110 140 86 0 0',
 '0 -9 26 20 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 12',
 '20 84 0 -9 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name',
 '1255 0 49 0 1 0 0',
 '-9 3 160 1 180 -9 -9 -9',
 '0 -9 -9 0 11 16 84 0',
 '0 0 0 0 -9 10 9 7',
 '156 100 220 106 160 90 0 0',
 '1 2 14 13 -9 -9 -9 -9',
 '-9 -9 -9 -9 -9 -9 -9 11',
 '20 84 1 -9 -9 2 -9 -9',
 '-9 -9 -9 -9 -9 1 1 1',
 '1 1 -9. -9. name']

Hmmm... we listed 20 lines and got what looks like 2 full records. How many records did we get in total?

In [3]:
len(lines_list)

6170

So, 6,170 lines in 3 data files means about 2,000 lines per file, and 6170 is an even multiple of 10 so that adds evidence to the "10 lines per record" theory. If we can count on that it will make restructuring easy.

***

## Devising a strategy

More experienced programmers probably already have an idea how they would approach this file. Beginners might be hiding under their desk. Either way, we should probably have a strategy.

As Yogi Berra once said, **"If you don't know where you are going, you might wind up someplace else."** I'll let you meditate on the wisdom of that statement on your own.

Maybe a more useful way to think of it is in the words of Steve Mariboli, "If you don’t know exactly where you’re going, how will you know when you get there?”


So, where are you going with this data wrangling? Personally, I'd like to get it into a form that Pandas can easily ingest. This means lines joined together, comma separated values, string-numbers translated to int or float, and -- Oh, yeah, column names might be nice!

Here are the general steps I'll follow:

1. Replace spaces with commas -- this should get us most of the way to the CSV.
2. Concatenate the 10-field record into one string. 
    * An alternative here might be to bring in the column names and make a list of dictionaries so we can use `json.dump()`.
    * This might be a good place to deal with `int` conversions.
    * May also want to deal with NaNs here too (the -9s).


Let's replace spaces with commas.

In [4]:
cleaned_lines = []
for line in lines_list:
    cleaned_lines.append(line.replace(' ', ','))

In [5]:
cleaned_lines[-20:]

['4073,0,54,1,1,1,1',
 '-9,4,130,0,0,-9,-9,-9',
 '-9,-9,-9,0,7,3,85,0',
 '0,0,0,0,12,9.5,-9,150',
 '110,58,160,85,130,80,1,0',
 '3,2,-9,-9,-9,-9,-9,-9',
 '-9,-9,-9,7,2,0,-9,7',
 '4,85,3,1,2,1,1,2',
 '1,1,1,2,1,1,1,1',
 '1,1,-9.,-9.,name',
 '4074,0,66,0,1,1,1',
 '-9,4,155,0,0,-9,-9,-9',
 '-9,-9,-9,0,7,3,85,0',
 '0,0,0,0,12,6.5,-9,75',
 '90,66,190,90,155,90,0,0',
 '0,-9,-9,-9,-9,-9,-9,-9',
 '-9,-9,-9,7,1,0,-9,7',
 '4,85,1,1,1,1,1,1',
 '1,1,1,2,1,1,1,1',
 '1,1,70,-9.,name']

Now we need to concatenate the lines. Let's experiment on a small subset first.

In [6]:
data_subset = cleaned_lines[:30]

In [7]:
row = '' # Just creates the variable

for line in (data_subset):
    row += line
    if 'name' in line:
        print(row)
        row = ''

1254,0,40,1,1,0,0-9,2,140,0,289,-9,-9,-90,-9,-9,0,12,16,84,00,0,0,0,150,18,-9,7172,86,200,110,140,86,0,00,-9,26,20,-9,-9,-9,-9-9,-9,-9,-9,-9,-9,-9,1220,84,0,-9,-9,-9,-9,-9-9,-9,-9,-9,-9,1,1,11,1,-9.,-9.,name
1255,0,49,0,1,0,0-9,3,160,1,180,-9,-9,-90,-9,-9,0,11,16,84,00,0,0,0,-9,10,9,7156,100,220,106,160,90,0,01,2,14,13,-9,-9,-9,-9-9,-9,-9,-9,-9,-9,-9,1120,84,1,-9,-9,2,-9,-9-9,-9,-9,-9,-9,1,1,11,1,-9.,-9.,name
1256,0,37,1,1,0,0-9,2,130,0,283,-9,-9,-90,-9,-9,1,11,21,84,00,0,0,0,100,10,-9,598,58,180,100,130,80,0,00,-9,17,14,-9,-9,-9,-9-9,-9,-9,-9,-9,-9,-9,1126,84,0,-9,-9,-9,-9,-9-9,-9,-9,-9,-9,1,1,11,1,-9.,-9.,name

Based on seeing a couple of '00' and '1220' or '1120', I think we need to add a comma after concatenating each line. Of course, that will put an extra comma at the end of the line... \<sigh>, it's always something...

In [8]:
row = '' # Just creates the variable

for line in (data_subset):
    row += line + ','
    if 'name' in line:
        print(row[:-1]) # for ending comma
        row = ''

1254,0,40,1,1,0,0,-9,2,140,0,289,-9,-9,-9,0,-9,-9,0,12,16,84,0,0,0,0,0,150,18,-9,7,172,86,200,110,140,86,0,0,0,-9,26,20,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,12,20,84,0,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,1,1,1,1,1,-9.,-9.,name
1255,0,49,0,1,0,0,-9,3,160,1,180,-9,-9,-9,0,-9,-9,0,11,16,84,0,0,0,0,0,-9,10,9,7,156,100,220,106,160,90,0,0,1,2,14,13,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,11,20,84,1,-9,-9,2,-9,-9,-9,-9,-9,-9,-9,1,1,1,1,1,-9.,-9.,name
1256,0,37,1,1,0,0,-9,2,130,0,283,-9,-9,-9,0,-9,-9,1,11,21,84,0,0,0,0,0,100,10,-9,5,98,58,180,100,130,80,0,0,0,-9,17,14,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,11,26,84,0,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,1,1,1,1,1,-9.,-9.,name

That looks pretty good. Let's do it for real, but store the row in a list rather than print it out.

In [9]:
joined_rows = []
row = '' # Just creates the variable

for line in (cleaned_lines):
    row += line + ','
    if 'name' in line:
        joined_rows.append(row[:-1])
        row = ''

In [10]:
len(joined_rows)

617

617 is 6170 / 10, so, that checks out. 

<hr>

## Adding header data

The headers (as well as other info, like, about NULLs) is contained in a text file, "heart-disease.names.' Here, I'll just copy the data out of the text file and use it as a block quote.

These names are annoyingly non-uniform. Some end with ':', the categories don't have numbers but do have minus signs. As a matter of fact, I think I won't even bother with the categories -- they don't add anything to the column names.

In [11]:
block_text='''1 id: patient identification number
2 ccf: social security number (I replaced this with a dummy value of 0)
3 age: age in years
4 sex: sex (1 = male; 0 = female)
5 painloc: chest pain location (1 = substernal; 0 = otherwise)
6 painexer (1 = provoked by exertion; 0 = otherwise)
7 relrest (1 = relieved after rest; 0 = otherwise)
8 pncaden (sum of 5, 6, and 7)
9 cp: chest pain type
10 trestbps: resting blood pressure (in mm Hg on admission to the hospital)
11 htn
12 chol: serum cholestoral in mg/dl
13 smoke: I believe this is 1 = yes; 0 = no (is or is not a smoker)
14 cigs (cigarettes per day)
15 years (number of years as a smoker)
16 fbs: (fasting blood sugar > 120 mg/dl)  (1 = true; 0 = false)
17 dm (1 = history of diabetes; 0 = no such history)
18 famhist: family history of coronary artery disease (1 = yes; 0 = no)
19 restecg: resting electrocardiographic results
20 ekgmo (month of exercise ECG reading)
21 ekgday (day of exercise ECG reading)
22 ekgyr (year of exercise ECG reading)
23 dig (digitalis used furing exercise ECG: 1 = yes; 0 = no)
24 prop (Beta blocker used during exercise ECG: 1 = yes; 0 = no)
25 nitr (nitrates used during exercise ECG: 1 = yes; 0 = no)
26 pro (calcium channel blocker used during exercise ECG: 1 = yes; 0 = no)
27 diuretic (diuretic used used during exercise ECG: 1 = yes; 0 = no)
28 proto: exercise protocol
29 thaldur: duration of exercise test in minutes
30 thaltime: time when ST measure depression was noted
31 met: mets achieved
32 thalach: maximum heart rate achieved
33 thalrest: resting heart rate
34 tpeakbps: peak exercise blood pressure (first of 2 parts)
35 tpeakbpd: peak exercise blood pressure (second of 2 parts)
36 dummy
37 trestbpd: resting blood pressure
38 exang: exercise induced angina (1 = yes; 0 = no)
39 xhypo: (1 = yes; 0 = no)
40 oldpeak = ST depression induced by exercise relative to rest
41 slope: the slope of the peak exercise ST segment
42 rldv5: height at rest
43 rldv5e: height at peak exercise
44 ca: number of major vessels (0-3) colored by flourosopy
45 restckm: irrelevant
46 exerckm: irrelevant
47 restef: rest raidonuclid (sp?) ejection fraction
48 restwm: rest wall (sp?) motion abnormality
49 exeref: exercise radinalid (sp?) ejection fraction
50 exerwm: exercise wall (sp?) motion 
51 thal: 3 = normal; 6 = fixed defect; 7 = reversable defect
52 thalsev: not used
53 thalpul: not used
54 earlobe: not used
55 cmo: month of cardiac cath (sp?)  (perhaps "call")
56 cday: day of cardiac cath (sp?)
57 cyr: year of cardiac cath (sp?)
58 num: diagnosis of heart disease (angiographic disease status)
59 lmt
60 ladprox
61 laddist
62 diag
63 cxmain
64 ramus
65 om1
66 om2
67 rcaprox
68 rcadist
69 lvx1: not used
70 lvx2: not used
71 lvx3: not used
72 lvx4: not used
73 lvf: not used
74 cathef: not used
75 junk: not used
76 name: last name of patient'''

Now, this should look like lines of text with `\n` at the end. We can split on the end of line.

In [12]:
column_text = block_text.split('\n')

In [13]:
column_text[:5]

['1 id: patient identification number',
 '2 ccf: social security number (I replaced this with a dummy value of 0)',
 '3 age: age in years',
 '4 sex: sex (1 = male; 0 = female)',
 '5 painloc: chest pain location (1 = substernal; 0 = otherwise)']

With a little bit of editor magic earlier **(remind me to show you how to do BLOCK SELECT)**, every element in our list has the format:

`##<space>column_name`
So, if we split on the space, element \#1 holds the column name. We'll deal with colons later.

In [14]:
# First, a test of the split on an element that doesn't have text after the column name
# Space is split's default but I'll specify it anyway for clarity.
column_text[65].split(' ')

['66', 'om2']

In [15]:
column_text[65].split(' ')[1]

'om2'

I think tnat gives us enough to get the column headers. A list comprehension should do it. Maybe can get tricky and get rid of the colon, too.

### <center>WARNING: Computer Science nerdistry ahead <br>https://www.urbandictionary.com/define.php?term=Nerdistry</center>

Remmber: 

* Each element in the column_text list is a string, and when we use an index to reference an individual element, we are operating on the actual element.
* `split()` returns a list, so you can put `[]` on the end to reference one particular element from the split.
* Finally, a "string" is just a container for characters, and is iterable and indexable.

At first, it may seem odd to see the `[]` on the end of a function call like `split()` or a second pair of `[]` to reference a character in a string after a split but it is actually just a application of *method chaining* -- using the output of one function as the input of the next function. 

This is all accomplished through the miracle of function associativity. Functions with the same precedence associate left to right, meaning that when an answer from a function `return`s, it is used as input to the next function to the right. A simple example would be:

`x = 3 + 4 - 1`

Last week, I mentioned **dunder methods**, or functions that are internal to classes / objects that affect aspects of how the object behaves. The example given was overriding the `__str__` function to nicely format our MailMessages when we printed them. In our addition example above, we took advantage of the `__add__` function behavior of integer objects (yes, **integer addition is a function and it can be overriden to do change the behavior of addition** ). Similarly, the `[]` is actually an operator, just like `+` and it has a dunder method called `__getitem__`.

***

The previous explanation was provided in hopes that you will learn the **_reason_** why chaining functions and indexes works rather than trying to rote-memorize the pattern. When you understand the actual mechanism at work, you can easily figure out how to reference any element buried in any data structure, regardless how deep or what kind of container.

In [16]:
print(column_text[4].split(' ')[1])
print(column_text[4].split(' ')[1][:-1])

painloc:
painloc

In [17]:
headers = [column.split(' ')[1][:-1] if ':' in column else column.split(' ')[1] for column in column_text ]

In [18]:
headers

['id',
 'ccf',
 'age',
 'sex',
 'painloc',
 'painexer',
 'relrest',
 'pncaden',
 'cp',
 'trestbps',
 'htn',
 'chol',
 'smoke',
 'cigs',
 'years',
 'fbs',
 'dm',
 'famhist',
 'restecg',
 'ekgmo',
 'ekgday',
 'ekgyr',
 'di',
 'pro',
 'nit',
 'pr',
 'diureti',
 'proto',
 'thaldur',
 'thaltime',
 'met',
 'thalach',
 'thalrest',
 'tpeakbps',
 'tpeakbpd',
 'dummy',
 'trestbpd',
 'exang',
 'xhypo',
 'oldpeak',
 'slope',
 'rldv5',
 'rldv5e',
 'ca',
 'restckm',
 'exerckm',
 'restef',
 'restwm',
 'exeref',
 'exerwm',
 'thal',
 'thalsev',
 'thalpul',
 'earlobe',
 'cmo',
 'cday',
 'cyr',
 'num',
 'lmt',
 'ladprox',
 'laddist',
 'diag',
 'cxmain',
 'ramus',
 'om1',
 'om2',
 'rcaprox',
 'rcadist',
 'lvx1',
 'lvx2',
 'lvx3',
 'lvx4',
 'lvf',
 'cathef',
 'junk',
 'name']

Seems to have worked! We'll use the zip-dict-list trick from week 2 and just dump it to file as JSON.

In [20]:
rows = [row.split(',') for row in joined_rows]
heart_disease_json = [dict(zip(headers,row)) for row in rows]

In [21]:
heart_disease_json[1]

{'id': '1255',
 'ccf': '0',
 'age': '49',
 'sex': '0',
 'painloc': '1',
 'painexer': '0',
 'relrest': '0',
 'pncaden': '-9',
 'cp': '3',
 'trestbps': '160',
 'htn': '1',
 'chol': '180',
 'smoke': '-9',
 'cigs': '-9',
 'years': '-9',
 'fbs': '0',
 'dm': '-9',
 'famhist': '-9',
 'restecg': '0',
 'ekgmo': '11',
 'ekgday': '16',
 'ekgyr': '84',
 'di': '0',
 'pro': '0',
 'nit': '0',
 'pr': '0',
 'diureti': '0',
 'proto': '-9',
 'thaldur': '10',
 'thaltime': '9',
 'met': '7',
 'thalach': '156',
 'thalrest': '100',
 'tpeakbps': '220',
 'tpeakbpd': '106',
 'dummy': '160',
 'trestbpd': '90',
 'exang': '0',
 'xhypo': '0',
 'oldpeak': '1',
 'slope': '2',
 'rldv5': '14',
 'rldv5e': '13',
 'ca': '-9',
 'restckm': '-9',
 'exerckm': '-9',
 'restef': '-9',
 'restwm': '-9',
 'exeref': '-9',
 'exerwm': '-9',
 'thal': '-9',
 'thalsev': '-9',
 'thalpul': '-9',
 'earlobe': '-9',
 'cmo': '11',
 'cday': '20',
 'cyr': '84',
 'num': '1',
 'lmt': '-9',
 'ladprox': '-9',
 'laddist': '2',
 'diag': '-9',
 'cxmain': '-9',
 'ramus': '-9',
 'om1': '-9',
 'om2': '-9',
 'rcaprox': '-9',
 'rcadist': '-9',
 'lvx1': '1',
 'lvx2': '1',
 'lvx3': '1',
 'lvx4': '1',
 'lvf': '1',
 'cathef': '-9.',
 'junk': '-9.',
 'name': 'name'}

In [22]:
import json

In [23]:
with open("data_5/heart_disease.json",'w') as outfile:
    json.dump(heart_disease_json, outfile)

<hr>

## Kung-fu Pandas

All of that work just to get it in a form that Pandas can read!

Now the **REAL** fun can begin!

Careful examination of the `heart-disease.names` file (**you _did_ read that file, right?**) tells us that the -9s are NaN values. Pandas can do the conversion as it reads a CSV file with `na_values = '-9'`. Unfortunately, we are out of luck with json files. 

Pandas can also make a best-guess as to the column types using a variety of methods.

In [24]:
import pandas as pd
import numpy as np

In [25]:
df = pd.read_json('data_5/heart_disease.json', orient = 'records')

In [26]:
df.head()

,id,ccf,age,sex,painloc,painexer,relrest,pncaden,cp,trestbps,...,rcaprox,rcadist,lvx1,lvx2,lvx3,lvx4,lvf,cathef,junk,name
0,1254,0,40,1,1,0,0,-9,2,140,...,-9,-9,1,1,1,1,1,-9.0,-9.0,name
1,1255,0,49,0,1,0,0,-9,3,160,...,-9,-9,1,1,1,1,1,-9.0,-9.0,name
2,1256,0,37,1,1,0,0,-9,2,130,...,-9,-9,1,1,1,1,1,-9.0,-9.0,name
3,1257,0,48,0,1,1,1,-9,4,138,...,2,-9,1,1,1,1,1,-9.0,-9.0,name
4,1258,0,54,1,1,0,1,-9,3,150,...,1,-9,1,1,1,1,1,-9.0,-9.0,name

OK, first, we know that columns 69 to 76 are junk. Let's drop 'em.

In [27]:
columns = df.columns

In [28]:
columns[68:76]

Index(['lvx1', 'lvx2', 'lvx3', 'lvx4', 'lvf', 'cathef', 'junk', 'name'], dtype='object')

In [29]:
df = df.drop(columns[68:76], axis=1)

In [30]:
df.head()

,id,ccf,age,sex,painloc,painexer,relrest,pncaden,cp,trestbps,...,lmt,ladprox,laddist,diag,cxmain,ramus,om1,om2,rcaprox,rcadist
0,1254,0,40,1,1,0,0,-9,2,140,...,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9
1,1255,0,49,0,1,0,0,-9,3,160,...,-9,-9,2,-9,-9,-9,-9,-9,-9,-9
2,1256,0,37,1,1,0,0,-9,2,130,...,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9
3,1257,0,48,0,1,1,1,-9,4,138,...,-9,2,-9,-9,2,-9,-9,-9,2,-9
4,1258,0,54,1,1,0,1,-9,3,150,...,-9,-9,-9,-9,1,-9,-9,-9,1,-9

In [31]:
null = df.iloc[0]['pncaden']
type(null)

numpy.float64

That is slightly surprising -- Pandas did the numeric conversion automatically

In [32]:
columns = df.columns
columns

Index(['id', 'ccf', 'age', 'sex', 'painloc', 'painexer', 'relrest', 'pncaden',
       'cp', 'trestbps', 'htn', 'chol', 'smoke', 'cigs', 'years', 'fbs', 'dm',
       'famhist', 'restecg', 'ekgmo', 'ekgday', 'ekgyr', 'di', 'pro', 'nit',
       'pr', 'diureti', 'proto', 'thaldur', 'thaltime', 'met', 'thalach',
       'thalrest', 'tpeakbps', 'tpeakbpd', 'dummy', 'trestbpd', 'exang',
       'xhypo', 'oldpeak', 'slope', 'rldv5', 'rldv5e', 'ca', 'restckm',
       'exerckm', 'restef', 'restwm', 'exeref', 'exerwm', 'thal', 'thalsev',
       'thalpul', 'earlobe', 'cmo', 'cday', 'cyr', 'num', 'lmt', 'ladprox',
       'laddist', 'diag', 'cxmain', 'ramus', 'om1', 'om2', 'rcaprox',
       'rcadist'],
      dtype='object')

In [33]:
df[columns] = df[columns].replace({-9:np.nan})

In [34]:
df.head()

,id,ccf,age,sex,painloc,painexer,relrest,pncaden,cp,trestbps,...,lmt,ladprox,laddist,diag,cxmain,ramus,om1,om2,rcaprox,rcadist
0,1254.0,0.0,40.0,1.0,1.0,0.0,0.0,NaN,2.0,140.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1255.0,0.0,49.0,0.0,1.0,0.0,0.0,NaN,3.0,160.0,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1256.0,0.0,37.0,1.0,1.0,0.0,0.0,NaN,2.0,130.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1257.0,0.0,48.0,0.0,1.0,1.0,1.0,NaN,4.0,138.0,...,NaN,2.0,NaN,NaN,2.0,NaN,NaN,NaN,2.0,NaN
4,1258.0,0.0,54.0,1.0,1.0,0.0,1.0,NaN,3.0,150.0,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN

<hr>

## Feature Engineering

From here, we start to discuss the subtle art of feature engineering and exploratory data analysis. 

It would be nice to have some kind of baseline for the dataset - it doesn't have to be too elaborate, we just want something to compare with to see if the changes we make to the dataset are beneficial. Unfortunately, we can't build a machine learning model while we have NaNs in it... but dealing with NaNs is one of the factors we'd like the baseline to help control. Hmmm -- a quandry!

For now, we will use the simple technique of replacing NaNs with the median of the column. This isn't necessarily the best technique, but it is a simple starting point for this demonstration. The function used below is borrowed from https://pythonhealthcare.org/2018/12/26/115-a-short-function-to-replace-impute-missing-numerical-data-in-pandas-dataframes-with-median-of-column-values/

In [35]:
def impute_with_median (df):
    """Iterate through columns of Pandas DataFrame.
    Where NaNs exist replace with median"""
    
    # Get list of DataFrame column names
    cols = list(df)
    # Loop through columns
    for column in cols:
        # Transfer column to independent series
        col_data = df[column]
        # Look to see if there is any missing numerical data
        missing_data = sum(col_data.isna())
        if missing_data > 0:
            # Get median and replace missing numerical data with median
            col_median = col_data.median()
            col_data.fillna(col_median, inplace=True)
            df[column] = col_data
    return df

In [36]:
df = impute_with_median(df)
df.head()

,id,ccf,age,sex,painloc,painexer,relrest,pncaden,cp,trestbps,...,lmt,ladprox,laddist,diag,cxmain,ramus,om1,om2,rcaprox,rcadist
0,1254.0,0.0,40.0,1.0,1.0,0.0,0.0,NaN,2.0,140.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,1255.0,0.0,49.0,0.0,1.0,0.0,0.0,NaN,3.0,160.0,...,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,1256.0,0.0,37.0,1.0,1.0,0.0,0.0,NaN,2.0,130.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,1257.0,0.0,48.0,0.0,1.0,1.0,1.0,NaN,4.0,138.0,...,1.0,2.0,1.0,1.0,2.0,1.0,1.0,1.0,2.0,1.0
4,1258.0,0.0,54.0,1.0,1.0,0.0,1.0,NaN,3.0,150.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

If we were really concerned about accuracy, we would do before and after graphs of normality (for example) and make sure the the graph's profile didn't change. As it is, that `pncaden` column looks fishy.

In [37]:
len(df.pncaden) - df.pncaden.isnull().sum()

0

As I thought, `pncaden` has no data. We should probably make sure there aren't any more like that and drop them.

In [38]:
drop_cols = [c for c in df.columns if len(df[c]) - df[c].isnull().sum() == 0]

In [39]:
df.drop(drop_cols, axis=1, inplace=True)

In [40]:
# Fast check for any NaNs
df.isnull().values.any()

False

In [41]:
df.head()

,id,ccf,age,sex,painloc,painexer,relrest,cp,trestbps,htn,...,lmt,ladprox,laddist,diag,cxmain,ramus,om1,om2,rcaprox,rcadist
0,1254.0,0.0,40.0,1.0,1.0,0.0,0.0,2.0,140.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,1255.0,0.0,49.0,0.0,1.0,0.0,0.0,3.0,160.0,1.0,...,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,1256.0,0.0,37.0,1.0,1.0,0.0,0.0,2.0,130.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,1257.0,0.0,48.0,0.0,1.0,1.0,1.0,4.0,138.0,0.0,...,1.0,2.0,1.0,1.0,2.0,1.0,1.0,1.0,2.0,1.0
4,1258.0,0.0,54.0,1.0,1.0,0.0,1.0,3.0,150.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

***

## Baseline


According to our documentation, feature \#58, `num`, is the target variable.

Briefly:

* We'll do a 70 / 30 train-test split
* Train a RandomForestClassifier
* Run & evaluate accuracy on the test data

One of the interesting abilities of the Random Forest is that it can tell you the importance of each feature in its decision-making process. After the baseline, we can use that to tailor our feature engineering.

In [42]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [43]:
y = df.num
x = df.drop(['id','ccf','dummy','num'], axis=1)

In [44]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [45]:
clf=RandomForestClassifier(n_estimators=100)

In [46]:
clf.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [47]:
y_pred=clf.predict(x_test)

In [48]:
from sklearn import metrics

In [49]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8064516129032258

### Feature importance

In [50]:
features = x_train.columns
importances = clf.feature_importances_
std = np.std([tree.feature_importances_ for tree in clf.estimators_],
             axis=0)
indices = np.argsort(importances)[::-1]

# Print the feature ranking
print("Feature ranking:")

for f in range(x_train.shape[1]):
    print(f"{f + 1}. feature {features[indices[f]]} ({importances[indices[f]]})" )

Feature ranking:
1. feature rcaprox (0.08310086475091256)
2. feature ladprox (0.07563300043671184)
3. feature cxmain (0.06982430392689183)
4. feature lmt (0.03994738411041206)
5. feature oldpeak (0.03203293319437019)
6. feature laddist (0.03106306532851476)
7. feature painexer (0.029606070554334694)
8. feature chol (0.02847214294390067)
9. feature thaldur (0.026753280906107083)
10. feature thalach (0.026173796367527157)
11. feature age (0.026048392387691386)
12. feature proto (0.025117739512824592)
13. feature thalrest (0.02370155624316311)
14. feature cday (0.02291541451138018)
15. feature thaltime (0.022455955429482886)
16. feature ekgday (0.02227099437428657)
17. feature om1 (0.021986278994432295)
18. feature trestbps (0.02156336564080962)
19. feature rcadist (0.021542970857405013)
20. feature cmo (0.019835978072476543)
21. feature met (0.019783122809385396)
22. feature rldv5e (0.01927727342527005)
23. feature trestbpd (0.018731403084239772)
24. feature tpeakbps (0.01845992148963829)
25. feature cp (0.01845722478297598)
26. feature rldv5 (0.017927656284146828)
27. feature exang (0.017545158154068062)
28. feature tpeakbpd (0.017085680010141862)
29. feature ekgmo (0.016096087391799702)
30. feature years (0.014266979074988582)
31. feature cyr (0.014019735376362632)
32. feature ekgyr (0.012497538552154295)
33. feature cigs (0.010118097789013538)
34. feature ramus (0.009749920186823248)
35. feature restecg (0.009383063880547248)
36. feature diag (0.008958966558142037)
37. feature nit (0.00844117339934233)
38. feature pr (0.008330001203268295)
39. feature htn (0.007861030499239035)
40. feature thalsev (0.006460431079594675)
41. feature slope (0.006380306911832361)
42. feature pro (0.005880608778226729)
43. feature relrest (0.005853186492895523)
44. feature fbs (0.005251766265969728)
45. feature smoke (0.004145406556073988)
46. feature diureti (0.003945212849778494)
47. feature om2 (0.0035288238665643996)
48. feature thal (0.003233054633778518)
49. feature famhist (0.003202768847486122)
50. feature sex (0.0023887298777999443)
51. feature xhypo (0.0019304420831082686)
52. feature restef (0.0019040350882586002)
53. feature restwm (0.0018219408229361899)
54. feature painloc (0.0016322663456871625)
55. feature thalpul (0.0015575694111063308)
56. feature di (0.0013166341663357892)
57. feature ca (0.0013063384246734227)
58. feature exeref (0.0004353643908916314)
59. feature exerwm (0.0004303700487669723)
60. feature dm (0.00035922056305322497)
61. feature exerckm (0.0)
62. feature earlobe (0.0)

In [51]:
# Only choose 1% importance or higher

big_features = []
for f in range(x_train.shape[1]):
    if importances[indices[f]] > 0.009:
        big_features.append(features[indices[f]])
#     print(f"{f + 1}. feature {features[indices[f]]} ({importances[indices[f]]})" )

print(f'{len(big_features)} / {len(features)} scored higher than 0.9% importance')

35 / 62 scored higher than 0.9% importance

***

## Normalizing and choosing columns

We saw above that 35 of the features have more than 1% importance, but 1% is a pretty low bar. We also know from the documentation that only 14 of the features are used in the published studies. It might be nice to check if those 14 are in the "important" list.

**But wait! There's more!**

We are going to do two more things: 

1. We are going to use sklearn's preprocessing module to scale the data. This should help normalize it.
2. We are going to add a column of random numbers as a control. When choosing columns for importance, we would like our choices to score better than random data!

Also note that normally we would have had to change categorical data into some numerical representation, but in this case, the data already came in that form.

**Non-categorical columns (for scaling/normalizing):** age, trestbps, htn, chol, cigs, years, thaldur, thaltime, met, thalach, thalrest, tpeakbps, tpeakbpd, trestbpd, oldpeak, rldv5, rldv5e, restef, exeref, exerwm, cmo, cday, cyr, lmt, ladprox, laddist, diag, cxmain, ramus, om1, om2, rcaprox, rcadist

**remove:** exerckm, thalsev, thalpul, earlobe

In [52]:
# Remember, x is our data set
x = x.drop(['exerckm', 'thalsev', 'thalpul', 'earlobe'], axis=1)
x_norm_cols = ['age', 'trestbps', 'htn', 'chol', 'cigs', 'years', 'thaldur', 'thaltime', 'met', 'thalach', 'thalrest', 'tpeakbps', 'tpeakbpd', 'trestbpd', 'oldpeak', 'rldv5', 'rldv5e', 'restef', 'exeref', 'exerwm', 'cmo', 'cday', 'cyr', 'lmt', 'ladprox', 'laddist', 'diag', 'cxmain', 'ramus', 'om1', 'om2', 'rcaprox', 'rcadist']

In [53]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler(feature_range=(0, 1))

# d = pd.DataFrame({'A': [0, 1, 2, 3, np.nan, 3, 2]})
# null_index = d['A'].isnull()
# d.loc[~null_index, ['A']] = scaler.fit_transform(d.loc[~null_index, ['A']])


x[x_norm_cols] = scaler.fit_transform(x[x_norm_cols])

In [54]:
x.head()

,age,sex,painloc,painexer,relrest,cp,trestbps,htn,chol,smoke,...,lmt,ladprox,laddist,diag,cxmain,ramus,om1,om2,rcaprox,rcadist
0,0.244898,1.0,1.0,0.0,0.0,2.0,0.70,0.0,0.479270,1.0,...,0.006173,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.428571,0.0,1.0,0.0,0.0,3.0,0.80,1.0,0.298507,1.0,...,0.006173,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.183673,1.0,1.0,0.0,0.0,2.0,0.65,0.0,0.469320,1.0,...,0.006173,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.408163,0.0,1.0,1.0,1.0,4.0,0.69,0.0,0.354892,1.0,...,0.006173,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,0.530612,1.0,1.0,0.0,1.0,3.0,0.75,0.0,0.354892,1.0,...,0.006173,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Now, our random column. First, we need a random seed -- just a number to be used in the creation of the "random" numbers. Then we'll add the column.

In [55]:
np.random.seed(42)

In [56]:
x['random'] = np.random.normal(0.0, 1.0, size=x.shape[0])

OK, let's check our accuracy again and see where the random data falls.

In [57]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)
clf=RandomForestClassifier(n_estimators=100)

In [58]:
clf.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [59]:
y_pred=clf.predict(x_test)

In [60]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.7795698924731183

So, our accuracy increased. Not bad but I'm sure we could get better. 

Let's have a look at important columns:

In [61]:
features = x_train.columns
importances = clf.feature_importances_
std = np.std([tree.feature_importances_ for tree in clf.estimators_],
             axis=0)
indices = np.argsort(importances)[::-1]

# Save the feature ranking to a list for later use
# and print it on the screen

feature_rank = []
print("Feature ranking:")

for f in range(x_train.shape[1]):
    feature = f"{f + 1}. feature {features[indices[f]]}   \t{importances[indices[f]] * 100 :.2f}%"
    if 'random' in features[indices[f]]:
        feature += " <=="
    print(feature)
    feature_rank.append([features[indices[f]], importances[indices[f]]] )

Feature ranking:
1. feature ladprox   	6.32%
2. feature rcaprox   	6.27%
3. feature cxmain   	5.96%
4. feature lmt   	4.23%
5. feature laddist   	4.13%
6. feature chol   	3.52%
7. feature proto   	3.35%
8. feature age   	3.23%
9. feature painexer   	2.86%
10. feature exang   	2.76%
11. feature random   	2.73% <==
12. feature thaldur   	2.73%
13. feature oldpeak   	2.67%
14. feature thalrest   	2.53%
15. feature met   	2.45%
16. feature trestbps   	2.40%
17. feature cday   	2.27%
18. feature rcadist   	2.22%
19. feature thalach   	2.19%
20. feature ekgday   	2.16%
21. feature tpeakbps   	2.05%
22. feature om1   	2.01%
23. feature thaltime   	1.96%
24. feature cmo   	1.93%
25. feature rldv5   	1.85%
26. feature cp   	1.80%
27. feature rldv5e   	1.63%
28. feature trestbpd   	1.60%
29. feature ekgmo   	1.59%
30. feature relrest   	1.47%
31. feature tpeakbpd   	1.46%
32. feature years   	1.15%
33. feature cyr   	1.05%
34. feature ekgyr   	1.04%
35. feature restecg   	0.90%
36. feature ramus   	0.83%
37. feature cigs   	0.78%
38. feature pr   	0.77%
39. feature diag   	0.75%
40. feature nit   	0.72%
41. feature slope   	0.66%
42. feature htn   	0.63%
43. feature fbs   	0.58%
44. feature pro   	0.54%
45. feature diureti   	0.46%
46. feature thal   	0.44%
47. feature smoke   	0.39%
48. feature sex   	0.34%
49. feature famhist   	0.30%
50. feature om2   	0.27%
51. feature restef   	0.27%
52. feature restwm   	0.20%
53. feature painloc   	0.19%
54. feature xhypo   	0.12%
55. feature ca   	0.09%
56. feature dm   	0.08%
57. feature di   	0.08%
58. feature exerwm   	0.03%
59. feature exeref   	0.02%

**WOW!!** The random data came in at number 11? So the other 48 features were *literally* less useful than random data.

***

There is still more we could do, including looking at pair plots and correlation matrices, but we'll leave that for next week. Let's save the dataset as we have it right now, then next week we can load it back in and use some visualization tools to help us analyze the data.

In [62]:
# Add the target column back in
x['num'] = y
x.to_csv('heart_disease_formatted.csv', index=None, header=True)

In [69]:
import csv

with open('feature_rank.csv', 'w') as writeFile:
    writer = csv.writer(writeFile)
    writer.writerows(feature_rank)

Completely random, non-lesson related libraries to try...

## Pandas Extensions

https://github.com/mouradmourafiq/pandas-summary



https://medium.com/dunder-data/from-pandas-to-scikit-learn-a-new-exciting-workflow-e88e2271ef62